.hidden{
    display: none !important;
}

.left-container{
    background-image: url("/images/middle-day.jpg");
    background-size: cover;
    padding-left: 10rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    color: white;

    
}
.fahrenheit-button-container{
    padding-top: 2rem;
    text-align: center;
    

}
.fahrenheit-button,
.celcius-button{
    padding: 1.5rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    background-image: linear-gradient(to bottom right,#415a77, #0096c7);
    color: white;
    transition: all 0.3s;
}
.fahrenheit-button:hover,
.celcius-button:hover{
    background-image: linear-gradient(to bottom right, #0096c7,#415a77)
}


.main-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.displayed-info{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.displayed-temp{
    font-size: 8rem;
}
.displayed-city{
    font-size: 3.5rem;
}
.displayed-condition-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayed-condition{
    font-size: 1.4rem;
}
.displayed-condition-icon{
    height: 8rem;
    width: 8rem;
}

/* right side */

.right-container{
    padding: 3rem;
    background-image: linear-gradient(to bottom right,#415a77, #0096c7);
    position: relative;
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100%;
    
}
.search{
    position: absolute;
    top: 0;
    right:0;
    width: 9rem;
    height: 7rem;
    background-color: #778da9;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
}
.search:hover{
    background-color: #778da9be;
}
input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #868e96;
    font-size: 2rem;
    /* padding-left: 1rem; */
    color: white;
    width: 80%;
}
input:focus{
    outline: none;
}
input::placeholder{
    color:#868e96;
}

.weather-details-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-bottom: 1px solid gray;
    /* height: 100%; */
}

.weather-detail{
    color: white;
    font-size: 2rem;
}

.weather-details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    color:#adb5bdcc;
    font-weight: bold;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    font-size: 1.5rem;
}

.number{
    color:#e9ecef;
}